# Enter keys of pair programmers you wish to connect to your instance
# When you run an instance, docker will copy these into /root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC0UUCTlqJC3nd9vkweJimZlzxlSraJdpvbiXZy6WbZMqX8gvievAGC9gMe+kIPzI5A3DRo2iKhXPuEYC6voIcdZi0F6UoHuFsZ7Nk/KRsuv7tjZzZfaVSHnoh4eztyqLA3hnibL8WZBWM9lLyeMgb//3bDyHwPc4l66mPD7U8ddvfFxUy0j/P3K6vMFKX3pNXUZlnrprN+7iqpYE6CXRpBMJWW7IuCX+V0qDUrg4RcgQaJ7cVomcmIxZ6jhN2/JK00RDdKbF2iSXikniTK2S6kZbmcVl1ITfwW5tRbqKC+AqglD+s6h8xqc6JpjA9sxjhQZn7HPin1icTG9J42vVuOpiRMCn6F8jFO7EWoTBm84b67osVauUOysATB6Jtv4AQ7jx3LT6kfZOs6imcS8myZ5HYMHbwXi7Srm2bXx8HxuG2bUiXwg8elc3CydR2Lz2RKKzyMr5EpEnGXEnE+iNrnWCEPg1HI32OjF+OJSJmL0nAY0i2Khnis9ilpWT9mtTd+9IT36IpobeRj+hL6wf+p/TQQHgyPkb1YgZqpQExbqtGFbgQ6Xwg24psmrzBht4Kp8lpiYMWMxtKs/KQXXMOMFqgEFGURWtiE1cFAdekC0bnR3A/zRV7ri5+B5GiPb6HZlnAEIjXRG5pTjgYedma19CCNGxY2Nw7ITv1EVDbQLw== firemound@gmail.com
